
body {
  background-color: #4f4f4f;
  color: white;
}

h1 {
  color: white;
  text-align: center;
  font-family: Georgia;
}

h3 {
  color: white;
  text-align: Center
}

p {
  color: white;
  text-align: center;
  font-family: Verdana;
  font-size: 24px;
}

a {
  color: white;
  font-family: Verdana;
  font-weight: bold;
  
}

hr {
  color: gray; 
  border-style: solid;
}

pre {
  color: white;
  text-align: center;
  font-size: 24px;
  font-family: Verdana;
}

