
body {
  background-color: #FFEAD6;
  color: white;
}

h1 {
  color: #634474;
  background-color: #FFEAD6;
  text-align: center;
  font-family: Georgia;
}

h3 {
  color: #44304F;
  background-color: #FFEAD6
  text-align: Center
}

p {
  color: #44304F;
  background-color: #FFEAD6
  text-align: center;
  font-family: Verdana;
  font-size: 24px;
}

hr {
  color: #44304F; 
  border-style: solid;
}

pre {
  color: #FFEAD6;
  text-align: center;
  font-size: 24px;
  font-family: Verdana;
}

.link {
  font-weight: bold;
  float: right;
  font-family: Verdana;
}
